<footer class="footer">
    <div class="container">
      <div class="row">
            <div class="col-md-6 col-lg-4 col-sm-6 mb-5 mb-lg-0 text-center text-sm-left mr-auto">
              <div class="footer-widget">
                  <h4 class="mb-4">E-Shop</h4>
                  <p class="lead">Iste dolores iure quis excepturi, deserunt praesentium.</p>
                  
                  <div class="">
                    <p class="mb-0"><strong>Location : </strong>North Punjab ,INDIA</p>
                    <p><strong>Support Email : </strong> support@email.com</p>
                  </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-2 col-sm-6 mb-5 mb-lg-0 text-center text-sm-left">
              <div class="footer-widget">
                <h4 class="mb-4">Category</h4>
                <ul class="pl-0 list-unstyled mb-0">
                  <li><a href="#">Men's Fashion</a></li>
                  <li><a href="#">Women's Fashion</a></li>
                  <li><a href="#">Kids Fashion</a></li>
                  <li><a href="#">Accessories</a></li>
                  <li><a href="#">Shoe Collection</a></li>
                </ul>
            </div>
            </div>
            <div class="col-md-6 col-lg-2 col-sm-6 mb-5 mb-lg-0 text-center text-sm-left">
               <div class="footer-widget">
                <h4 class="mb-4">Useful Link</h4>
                <ul class="pl-0 list-unstyled mb-0">
                  <li><a href="#">News &amp; Tips</a></li>
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Support</a></li>
                  <li><a href="#">Our Shop</a></li>
                  <li><a href="#">Contact Us</a></li>
                </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 col-sm-6 text-center text-sm-left">
               <div class="footer-widget">
                <h4 class="mb-4">Opening Hours</h4>
                <ul class="pl-0 list-unstyled mb-5">
                  <li class="d-lg-flex justify-content-between">Monday-Friday <span>8.00-20.00</span></li>
                  <li class="d-lg-flex justify-content-between">Saturday <span>10.00-20.00</span></li>
                  <li class="d-lg-flex justify-content-between">Sunday <span>12-20.00</span></li>
                </ul>
                <h5>Call Now : +(000) 000-000</h5>
              </div>
            </div>
         </div>
    </div>
  </footer>